<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/dashboard.css">

    <title>Dashboard</title>
  </head>
  <body>
    <!-- <h1>Hello World</h1> -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">ALUMNI MANAGEMENT SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">ALUMNUS INFO <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PAST EVENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ADD POSTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ADD EVENTS</a>
      </li>


      <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <%=username%>
     </a>
     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Name:<%=name%></a>
            <a class="dropdown-item" href="#">Designation:<%=desig%></a>
            <a class="dropdown-item" href="#">Email:<%=em%></a>
          </div>
        </li>
   <li>
         <form class="" action="/logout" method="post">
           <a><button class="btn btn-success"name="logout">Logout</button></a>
         </form>
   </li>
    </ul>
  </div>
</nav>



 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
