<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Alumni Management System</title>
    <link href="https://fonts.googleapis.com/css?family=Odibee+Sans|Source+Sans+Pro|Tomorrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <!-- NAVBAR START -->
    <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"><img style="width:80px;height:80px;" src="images/logo.PNG" alt=""></a>
<h3 class="a">ALUMNI MANAGEMENT SYSTEM</h3>
  <form class="form-inline">
    <!-- Check=1 ==> Logged In|| Check=0 ==> Logged Out -->
    <% if(check === 0) { %>
    <div class="signup">
      <a href="/signup"><button class="btn btn-outline-success" type="button">Sign Up</button></a>
    </div>
    <% } %>
    <% if(check === 1) { %>
  <div class="signup">
    <form class="" action="/logout" method="post">
      <a href="/"><button class="btn btn-success"name="logout" type="submit">Logout</button></a>
    </form>
  </div>
    <% } %>
      <% if(check === 0) { %>
    <div class="login">
    <a href="/login"><button type="button" class="btn btn-info">Login</button></a>
    </div>
      <% } %>
      <% if(check === 1) { %>
    <div class="login">
    <a href="/<%=user%>"><button class="btn btn-md btn-outline-secondary" type="button">Dashboard</button></a>
    </div>
      <% } %>
  </form>
</nav>
<div class="br">
  <br><br>
</div>


<!-- NAVBAR END  -->

<div class="background">
  <h4>Here we focus more on the legacy that the institution has left behind and we believe moving together with the past proves to be beneficial</h4>
  <p>In this portal you can register as an Alumni,Professor or as a student.We provide the following features:</p>
  <br><br>
  <ol style="list-style:none;">
    <li>Add Posts</li>
    <li>See Alumni Information</li>
    <li>Chat</li>
  </ol>

</div>
<!-- STAT CIRCLES START-->
  <br>
  <br>
  <div class="row" style="margin:0;">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="circle1">
        <i class="fa fa-users fa-2x" style="position:relative;top:2rem;"></i>
      </div>
      <br>
      <p>Population:<span class="p-light"> 123</span></p>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="circle2">
        <i class="fa fa-trophy fa-2x" style="position:relative;top:2rem;"></i>
      </div>
      <br>
      <p>Special Achievements:<span class="p-light"> 123</span></p>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="circle3">
        <i class="fa fa-university fa-2x" style="position:relative;top:2rem;"></i>
      </div>
      <br>
      <p>Blocks:<span class="p-light"> 123</span></p>
    </div>

  </div>
  <!-- STAT CIRCLES END -->
<!-- FOOTER START -->
<div class="footer">
  <h3>Alumni Portal System</h3>
<div class="row" style="margin-right:0;">

  <div class="col-lg-6" style="position:relative;">
    <h5 >ABOUT</h5>
    <ol style="list-style:none;">
      <li>Privacy Policy</li>
      <li>Terms of Service</li>
      <li>Partners&Sponsors</li>
      <li>Teachers & Alumni</li>
      <li>What We Do</li>
    </ol>
    <div class="vl">
    </div>
  </div>
  <div class="col-lg-6" style="position:relative;">
    <h5 >FOLLOW US</h5>
    <ol style="list-style:none;">
      <li>Facebook</li>
      <li>Twitter</li>
      <li>LinkedIn</li>
      <li>Instagram</li>
    </ol>
  </div>
</div>
</div>

<!-- FOOTER END -->
   <script src="https://use.fontawesome.com/576f6a076e.js"></script>

  </body>
</html>
