<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Signup</title>
    <link href="https://fonts.googleapis.com/css?family=Odibee+Sans|Source+Sans+Pro|Tomorrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login.css">

  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
  <a href="/" class="navbar-brand"><img style="width:80px;height:80px;" src="images/logo.PNG" alt=""></a>
<h3 class="a">ALUMNI MANAGEMENT SYSTEM</h3>
</nav>

<br><br><br>
<% for(let i=0;i<errors.length;i ++) { %>
  <li style="color:black;"><%= errors[i] %></li>
  <% } %>
<!-- FORM START -->
<h3>LOGIN FORM</h3>
<form class="" action="/login" method="post">
  <br><br>
  <input type="text" name="username" value="" placeholder="Username"><br><br>
  <input type="password" name="password" value="" placeholder="Password" minlength="8" required title="8 characters minimum"><br><br>
  <button type="submit" class="btn btn-warning" name="button">Log In</button><br><br>
  <a href="/signup"><button type="button" class="btn btn-success">Not a member?Sign Up</button></a>
</form>

<!-- FORM END -->
