<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
    <link href="https://fonts.googleapis.com/css?family=Odibee+Sans|Source+Sans+Pro|Tomorrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/signup.css">

  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
  <a href="/" class="navbar-brand"><img style="width:80px;height:80px;" src="images/logo.PNG" alt=""></a>
<h3 class="a">ALUMNI MANAGEMENT SYSTEM</h3>
</nav>
<br><br><br>
    <!-- FORM START -->
    <form class="" action="index.html" method="post">
      <select class="form-control">
        <option value="" name="alumni" selected>Alumnus</option>
        <option value="" name="professor">Professor</option>
        <option value="" name="student">Student</option>
</select>
      <br><br>
      <input type="text" name="" value="" placeholder="Username"><br><br>
      <input type="text" name="" value="" placeholder="Email"><br><br>
      <input type="text" name="" value="" placeholder="Mobile"><br><br>
      <input type="text" name="" value="" placeholder="Password"><br><br>
      <button type="submit" class="btn btn-warning" name="button">Submit</button>
    </form>

    <!-- FORM END -->
  </body>
</html>
